{{- if and .Values.monitoring.enabled .Values.monitoring.grafana.enabled .Values.monitoring.grafana.ingress.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  namespace: {{ .Values.global.namespace.monitoring }}
  labels:
    {{- include "ethereum-validator.labels" . | nindent 4 }}
    component: monitoring
  annotations:
    {{- if .Values.monitoring.grafana.ingress.className }}
    {{- with .Values.monitoring.grafana.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- end }}
spec:
  {{- if .Values.monitoring.grafana.ingress.className }}
  ingressClassName: {{ .Values.monitoring.grafana.ingress.className }}
  {{- end }}
  rules:
  {{- range .Values.monitoring.grafana.ingress.hosts }}
  - host: {{ .host | quote }}
    http:
      paths:
      {{- range .paths }}
      - path: {{ .path }}
        pathType: {{ .pathType }}
        backend:
          service:
            name: grafana
            port:
              number: 3000
      {{- end }}
  {{- end }}
  {{- if .Values.monitoring.grafana.ingress.tls }}
  tls:
  {{- range .Values.monitoring.grafana.ingress.tls }}
  - hosts:
    {{- range .hosts }}
    - {{ . | quote }}
    {{- end }}
    secretName: {{ .secretName }}
  {{- end }}
  {{- end }}
{{- end }}
