---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: sentry1-policy-min
  namespace: {{ .Values.global.namespace.validators }}
  labels:
    {{- include "ethereum-validator.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      component: sentry1
  policyTypes:
    - Ingress
    - Egress

  ingress:
    - from:
        - podSelector:
            matchLabels:
              component: validator
      ports:
        - protocol: TCP
          port: 8551 # execution enginePort
        - protocol: TCP
          port: 8545 # execution jsonRpcPort
        - protocol: TCP
          port: 5052 # consensus httpPort

    - ports:
        - protocol: TCP
          port: 30303 # EC P2P
        - protocol: UDP
          port: 30303
        - protocol: TCP
          port: 9000 # CC P2P
        - protocol: UDP
          port: 9000

  egress:
    # DNS
    - ports:
        - protocol: UDP
          port: 53

    # P2P ra internet
    - ports:
        - protocol: TCP
          port: 30303
        - protocol: UDP
          port: 30303
    - ports:
        - protocol: TCP
          port: 9000
        - protocol: UDP
          port: 9000

    # HTTPS (checkpoint sync, relays,...)
    - ports:
        - protocol: TCP
          port: 443

    - to:
        - podSelector:
            matchLabels:
              component: sentry1
              client: execution
      ports:
        - protocol: TCP
          port: 8551

---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: sentry2-policy-min
  namespace: {{ .Values.global.namespace.validators }}
  labels:
    {{- include "ethereum-validator.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      component: sentry2
  policyTypes:
    - Ingress
    - Egress

  ingress:
    - from:
        - podSelector:
            matchLabels:
              component: validator
      ports:
        - protocol: TCP
          port: 8551
        - protocol: TCP
          port: 8545
        - protocol: TCP
          port: 5052

    - ports:
        - protocol: TCP
          port: 30303
        - protocol: UDP
          port: 30303
        - protocol: TCP
          port: 9000
        - protocol: UDP
          port: 9000

  egress:
    - ports:
        - protocol: UDP
          port: 53

    - ports:
        - protocol: TCP
          port: 30303
        - protocol: UDP
          port: 30303
    - ports:
        - protocol: TCP
          port: 9000
        - protocol: UDP
          port: 9000

    - ports:
        - protocol: TCP
          port: 443

    - to:
        - podSelector:
            matchLabels:
              component: sentry2
              client: execution
      ports:
        - protocol: TCP
          port: 8551

---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: validator-policy-min
  namespace: {{ .Values.global.namespace.validators }}
  labels:
    {{- include "ethereum-validator.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      component: validator
  policyTypes:
    - Ingress
    - Egress

  ingress:
    - ports:
        - protocol: TCP
          port: 5054 # consensus metrics
        - protocol: TCP
          port: 5064 # vc metrics
        - protocol: TCP
          port: 5052 # consensus http

    - from:
        - podSelector:
            matchLabels:
              component: validator
      ports:
        - protocol: TCP
          port: 5052

  egress:
    # DNS
    - ports:
        - protocol: UDP
          port: 53

    - to:
        - podSelector:
            matchLabels:
              component: sentry1
              client: execution
      ports:
        - protocol: TCP
          port: 8551
        - protocol: TCP
          port: 8545

    - to:
        - podSelector:
            matchLabels:
              component: sentry2
              client: execution
      ports:
        - protocol: TCP
          port: 8551
        - protocol: TCP
          port: 8545

    - to:
        - podSelector:
            matchLabels:
              component: sentry1
              client: consensus
      ports:
        - protocol: TCP
          port: 5052
    - to:
        - podSelector:
            matchLabels:
              component: sentry2
              client: consensus
      ports:
        - protocol: TCP
          port: 5052

    - to:
        - podSelector:
            matchLabels:
              component: validator
              client: consensus
      ports:
        - protocol: TCP
          port: 5052
