{{- if .Values.secrets.jwtSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ethereum-validator.fullname" . }}-jwt
  namespace: {{ .Values.global.namespace.validators }}
  labels:
    {{- include "ethereum-validator.labels" . | nindent 4 }}
type: Opaque
data:
  jwt.hex: {{ .Values.secrets.jwtSecret | b64enc }}
{{- end }}
---
{{- if .Values.secrets.validatorKeys.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ethereum-validator.fullname" . }}-validator-keys
  namespace: {{ .Values.global.namespace.validators }}
  labels:
    {{- include "ethereum-validator.labels" . | nindent 4 }}
type: Opaque
data:
  # Validator keys will be loaded from files during deployment
  # See: helm install --set-file secrets.validatorKeys.data=./secrets/validator-keys
{{- end }}
